.item_pizza, .item_fruit {
display: block;
margin: 5px 10px;
}
p {
font-weight: bold;
}
input[type="submit"]:{hover}{
color: blue;
}

legend {
font-weight: bold;
font-size: 20px;
color: #317ac1;
}

fieldset {
max-width: 500px;
margin-top: 10px;
}

input[type="submit"]{
background-color: #317AC1;
text-align: center;
color: white;
padding : 10px 20px 10px 20px
}